<div class="flex flex-col my-4">
  <div class="flex">
    <%= form.input :tag, placeholder: ' ' %>
  </div>
  <div class="flex">
    <%= form.input :number_occupants, placeholder: '' %>
  </div>
  <div class="flex">
    <%= form.input :equipment_type, placeholder: '' %>
  </div>
  <div class="flex">
    <%= form.input :equipment_model, placeholder: ''%>
  </div>
</div>
